body {
    background-image: url(/assets/background-one.jpeg);
}

h1 {
    border: 3px dotted white;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: fantasy;
    font-size: 35px;
    color: white;
    border-radius: 50px;
}

p {
    font-size: 23px;
    color: white;
}

.zodiac-detail-container img {
    width: 280px;
    height: 330px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    margin-left: 740px;
}

.zodiac-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    font-size: 40px;
}

p {
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    border: 3px dotted white;
    border-radius: 50px;
}