body {
    background-image: url(/assets/background-one.jpeg);
}

#zodiacs img {
    width: 280px;
    height: 330px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
}

#header {
    font-size: 35px;
    margin-left: 10%;
}

h1 {
    border: 3px dotted black;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: fantasy;
    font-size: 35px;
    color: white;
}

#zodiacs {
    font-family: fantasy;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    color: white;
}

p {
    font-size: 23px;
    color: white;
}

h2 {
    font-size: 30px;
    padding-top: 50px;
    border-bottom: 3px dotted black;
    margin: 20px;
    color: white;
}

ul {
    font-size: 25px;
    color: white;
}

div .plant {
    margin: 20px;
}

hr {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    color: white;
}